.git/
node_modules/
__pycache__/
*.log
.env
cache/
*.swp
.nvidia-settings-rc
.config/gtk-3.0/bookmarks
.config/waybar/*.bak
.config/waybar/*backup*
.config/yazi/keymap.toml-[0-9]*
portage/package.use/._cfg*
portage/gnupg/.getuto.last
portage/gnupg/mykeyid
portage/gnupg/*.kbx
portage/gnupg/*.kbx~
portage/gnupg/*.db
portage/gnupg/*.gpg
